*{
    margin: 0;
    padding: 0;
}

.header{
    height: 300px;
    
}

.headertop {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headertop img {
    height: 100px;
}

.headernav{
    height: 100px;
    background-color: lightgray;
}


.box {
    color:white;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
    
}

.end {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}



.start {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.between {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}



.around {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.evenly {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.center {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.footer h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 14px;
}

.footer p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.footerd {
    height: 250px;
    width: 400px;
    margin-top: 15px;
    line-height: 160%;
}

.pildid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 175px;
    height: 75px;
}

.pildid img {
    padding: 15px;
    max-width: 100%;
    display: block;
    max-height: 5.8125rem;
}

.pildid-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bfottom-btn {
    color: white;
    
}

.tfooter {
    display: flex;
    background-color: #14468a;
    height: 250px;
    justify-content: center;
    color: white;
}

.bfooter {
    display: flex;
    height: 100px;
    background-color: #14468a;
    justify-content: center;
    align-items: center;
    color: white;
}

.imgcolor{
    background-color: white;
    height: 75px;
    width: 150px;
    padding: 10px;
    object-fit: cover;
}

.imgcolorclass {
    display: flex;
    gap: 15px;
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
    height: 400px;
}


.koostööpartnerid {
    gap: 15px;
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding:10px;
}



@media screen and (max-width: 1024px) {
    .box {
        background-color: blue;
        width: 25px;
        height: 25px;
    }

    .start div {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }

    .between div {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin: 20px;
        justify-content: center;
    align-items: center;
    }

    .around div {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin: 20px;
        justify-content: center;
    align-items: center;
    }

    .evenly div {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin: 20px;
        justify-content: center;
    align-items: center;
    }

    .center div {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin: 20px;
        justify-content: center;
    align-items: center;
    }

    .nupud{
        display: none;
    }

    .headertop img{
        height: 75px;
    }

    .erika{
        display: none;

    }

    .tfooter{
        display: block;
    }

    .footerd{
        height: 150px;
    }

}